.article-mb20 {
  margin-bottom: 20px;
}
.article-mb80 {
  margin-bottom: 80px;
}
.article-mb40 {
  margin-bottom: 40px;
}

.article-style-title {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  line-height: 115%;
  text-transform: uppercase;
  color: #2c332f;
  max-width: 596px;
  margin-bottom: 40px;
}

.article__title {
  font-size: 48px;
}
.article__subtitle {
  font-size: 36px;
}

.article__text {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #535755;
}

.article__decor-wrapper {
  position: relative;
}

.article__decor-wrapper::before,
.article__decor-wrapper::after {
  content: "";
  position: absolute;
  z-index: -1;
  background: url(../img/decor.svg);
  background-repeat: no-repeat;
  width: 528px;
  height: 48px;
}
.article__decor-wrapper--left::after,
.article__decor-wrapper--right::before {
  display: none;
}

.article__decor-wrapper--left::before {
  top: 100px;
  left: -350px;
}

.article__decor-wrapper--right::after {
  bottom: 136px;
}

.article__list {
  margin-top: 0px;
  padding-left: 22px;
  list-style-type: disc;
}
.article__list-item-text::marker {
  color: #3596ed;
  font-size: 25px;
}

.article__list-item {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #535755;
  margin-bottom: 12px;
}

.article__list-item:last-child {
  margin-bottom: 0;
}

.article__button {
  background-color: #3596ed;
  width: 60px;
  height: 60px;
  border: none;
  padding: 0;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity, 0.2s;
}

.article__image-button {
  object-fit: contain;
}

.article__button:hover {
  opacity: 0.9;
}

.article__button--disabled:disabled {
  opacity: 0.5;
  cursor: default;
}

@media (width <= 992px) {
  .article-mb80 {
    margin-bottom: 50px;
  }
  .article__button {
    width: 50px;
    height: 50px;
  }
  .article__image-button {
    width: 18px;
    height: 18px;
  }

  .article {
    margin-bottom: 60px;
  }
}

@media (width <= 768px) {
  .article__title {
    font-size: 40px;
  }

  .article__subtitle {
    font-size: 35px;
  }
  .article__decor-wrapper::before,
  .article__decor-wrapper::after {
    display: none;
  }
}

@media (width <= 576px) {
  .article__title {
    font-size: 30px;
    margin-bottom: 30px;
  }
  .article__subtitle {
    font-size: 26px;
  }
  .article {
    padding-top: 60px;
  }
  .article__button {
    width: 40px;
    height: 40px;
  }
  .article__image-button {
    width: 15px;
    height: 15px;
  }
}
