html {
  font-family: "Oswald", sans-serif;
}
body * {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

*,
::before,
::after {
  box-sizing: border-box;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}

.article {
  padding-top: 80px;
  margin-bottom: 120px;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.section-mb-140 {
  margin-bottom: 140px;
}

a,
button {
  outline: none;
}

a:focus-visible,
button:focus-visible,
summary:focus-visible {
  outline: 2px solid #318ad8;
  outline-offset: 1px;
}
