.hero {
  position: relative;
  padding-top: 80px;
}

.hero::after {
  content: "";
  position: absolute;
  bottom: 106px;
  width: 100%;
  height: 48px;
  background-image: url("../img/hero-decor.svg");
  background-repeat: repeat-x;
  background-size: contain;
  z-index: -1;
}

.hero__container {
  display: flex;
  gap: 28px;
}

.hero__title {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 62px;
  line-height: 115%;
  text-transform: uppercase;
  color: #2c332f;
  margin-bottom: 40px;
}

.hero__word--accent {
  color: #3596ed;
}

.hero__text {
  max-width: 439px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #535755;
  margin-bottom: 140px;
}

.hero__info {
  max-width: 492px;
}

.hero__button {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 130%;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  padding: 19px 32px;
  background-color: #3596ed;
  transition:
    background-color 0.2s,
    transform 0.2s;
}

.hero__button--disabled:disabled {
  opacity: 0.5;
  cursor: default;
}

.hero__button--disabled:disabled:hover {
  opacity: 0.5;
  cursor: default;
  transform: none;
  background-color: #3596ed;
}

.hero__button--zoom:hover {
  transform: scale(1.1);
  background-color: #318ad8;
}

.hero__image {
  display: flex;
  position: relative;
}
.hero__image-choose {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  padding: 22px;
  max-width: 161px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  color: #2c332f;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #535755;
  text-align: center;
}

.news__container {
  display: flex;
  gap: 28px;
}
.news__article {
  max-width: 284px;
  flex: 1 1 25%;
  display: flex;
  flex-direction: column;
}

.news-card {
  border: 1px solid #d3cbd9;
  background-color: #fff;
  overflow: hidden;
  transition: transform 0.2s;
}

.news-card--zoom:hover {
  transform: scale(1.1);
}

.news__title {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 115%;
  text-transform: uppercase;
  color: #2c332f;
  margin-bottom: 40px;
}

.news-card__image {
  display: block;
  width: 100%;
  height: auto;
}

.news-card__info {
  padding: 20px 20px 0 20px;
}

.news-card__footer {
  margin-top: auto;
  padding: 0 20px 20px 20px;
}

.news-card__data {
  display: inline-block;
  margin-bottom: 8px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #858e8a;
}

.news-card__title {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #2c332f;
  margin-bottom: 12px;
}

.news-card__link {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #3596ed;
  text-decoration: none;
}

.news-card__link::after {
  content: "";
  display: block;
  position: relative;
  top: 2px;
  width: 22px;
  height: 9px;
  background-image: url("../img/news/news-arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  transition: transform 0.2s;
}

.news-card__link--movement-right:hover::after {
  transform: translateX(5px);
}

.faq {
  position: relative;
}

.faq::before {
  content: "";
  position: absolute;
  top: 215px;
  z-index: -1;
  width: calc(50% - 350px);
  height: 48px;
  background-image: url("../img/hero-decor.svg");
}

.faq__title {
  margin-bottom: 40px;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 115%;
  text-transform: uppercase;
  color: #2c332f;
}

.faq__container {
  display: flex;
  gap: 28px;
}

.accordion__text {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #535755;
  padding: 0 20px 20px 20px;
}
.accordion__title {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 115%;
  text-transform: uppercase;
  color: #2c332f;
  padding: 19px;
}

.accordion__title {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  cursor: pointer;
  user-select: none;
}

.accordion__title::after {
  content: "";
  width: 20px;
  height: 17px;
  flex-shrink: 0;
  display: inline-block;
  background-image: url("../img/arrow-down.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: transform, 0.2s;
}

.accordion__title::webkit-details-marker {
  display: none;
}

.accordion__container[open] .accordion__title::after {
  transform: rotate(540deg);
}

.accordion__container {
  margin-bottom: 20px;
  border-top: 1px solid #d3cbd9;
  border-bottom: 1px solid #d3cbd9;
}

.accordion__container:last-child {
  margin-bottom: 0px;
}

@media (width <= 1440px) {
  .hero__image-women,
  .hero__image-man {
    width: 50%;
  }
}

@media (width <= 992px) {
  .hero__container {
    flex-direction: column;
    align-items: center;
  }

  .hero::after {
    display: none;
  }

  .hero__info {
    text-align: center;
  }

  .hero__text {
    max-width: none;
    margin-bottom: 30px;
  }

  .hero__title {
    font-size: 52px;
    margin-bottom: 30px;
  }

  .news__container {
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  .news__article {
    max-width: 400px;
    flex-basis: 50%;
  }

  .news-card__image {
    width: 100%;
  }

  .news__article--zoom:hover {
    transition: none;
    transform: none;
  }
  .news__title {
    text-align: center;
  }

  .faq__container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .faq::before {
    display: none;
  }
  .faq__title {
    text-align: center;
  }
}

@media (width <= 768px) {
  .hero__title {
    font-size: 50px;
  }
  .news__title {
    text-align: center;
    font-size: 40px;
    max-width: inherit;
    margin-bottom: 30px;
  }

  .news__article--zoom:hover {
    transition: none;
    transform: none;
  }
  .faq__title {
    text-align: center;
    font-size: 40px;
    max-width: inherit;
    margin-bottom: 30px;
  }

  .accordion__title {
    font-size: 22px;
  }
}

@media (width <= 576px) {
  .hero {
    padding-top: 60px;
  }

  .hero__info {
    max-width: 410px;
  }
  .hero__title {
    font-size: 42;
  }

  .hero__image-choose {
    padding: 10px;
    font-size: 14px;
    max-width: 125px;
  }

  .news__title {
    font-size: 34px;
  }
  .faq__title {
    font-size: 34px;
  }

  .accordion__title {
    font-size: 18px;
  }
}
