* {
  box-sizing: border-box;
  font-family: sans-serif;
}

form {
  min-width: 350px;
  display: inline-block;
  margin: 0;
  border: 1px solid black;
  border-radius: 10px;
}
fieldset {
  border: none;
}
legend {
  font-size: 18px;
  font-weight: 700;

  padding: 12px 0 7px 0;
}

.grow-up {
  min-width: 280px;
  margin-bottom: 10px;
}
span {
  display: inline-block;
  margin-bottom: 2px;
}

input,
textarea {
  padding: 5px 0 5px 9px;
  display: block;
  border: 1px solid black;
  border-radius: 5px;
}
textarea {
  resize: vertical;
  max-height: 85px;
  min-height: 40px;
}
#acceptance {
  display: inline-block;
  margin: 0;
}
.block {
  display: block;
}
.mb {
  margin-bottom: 5px;
}

button {
  border: none;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
