* {
  box-sizing: border-box;
}

table {
  border-spacing: 0px;
  border-collapse: collapse;
}

td,
caption {
  font-family: sans-serif;
  border: 1px solid black;
  padding: 3px;
  text-align: center;
}

caption {
  border-bottom: none;
}

thead td {
  text-transform: uppercase;
}

thead td,
caption {
  font-weight: 700;
}

.table-calendar-specialDay {
  color: red;
}

tfoot td {
  text-transform: uppercase;
}
